/* Main Styles across the pages */
.Mymodal {
  background-color: #ffffff;
  position: fixed;
  top: 17%;
  left: 17%;
  z-index: 99;
  border-radius: 10px;
  /*border: 3px solid grey; */
  animation-name: fadeInAnimation;
  animation-duration: 2s;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

/* The animation code */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.space-right {
  margin-right: 10px;
}

.space-left {
  margin-left: 10px;
}

.space-allaround {
  margin: 10px;
}

.multipadding-10 {
  padding: 10px;
}

.multipadding-5 {
  padding: 5px;
}

.remove-margin {
  margin-bottom: 0px;
  margin-top: 0px;
}

.remove-padding {
  padding-bottom: 0px;
}

.margin-bottom {
  margin-bottom: 40px;
}
.margin-bottom-small {
  margin-bottom: 10px;
}
/* FONT STYLING */
.inlinelink {
  cursor: pointer;
  font-weight: 600;
  color: blue;
}

.boldTempResources {
  font-weight: bold;
  font-size: 1.5rem;
}

td {
  padding: 0px;
  border: none;
}
/* Layout */

.gameRoomBg {
  /*background-image: url(../assets/img/tableBG.png);*/
  background-color: #1b5e20;
}
.gameArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr;
  grid-template-rows: 30px auto;
  grid-template-areas:
    "notifications notifications notifications rightside"
    "mainarea mainarea mainarea rightside";
  align-content: start;
}

.gameNotifications {
  grid-area: notifications;
  background-color: #e4d6f1ab;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
}

.gameAreaLeft {
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 0px;
  grid-area: mainarea;
  /*background: #ffffff; rgb(19, 46, 31);*/
  display: grid;
  grid-template-columns: 1fr 1.2fr 0.8fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "onTableContracts onTableContracts onTableContracts onTableContracts"
    "onTableRow1 onTableRow1 tempResources tempResources"
    "onTableRow2 onTableRow2 tempLastActionsArea tempLastActionsArea"
    "onTableRow3 onTableRow3 onTableRow3 onTableRow3"
    "upComingCards upComingCards upComingCards upComingCards";
  align-content: start;
  justify-content: start;
}

.gameAreaLeft > h5 {
  color: #000000;
  margin: 5px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
}

.tempActionsTestArea {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
}

.tempLastActionsArea {
  grid-area: tempLastActionsArea;
  padding: 5px 5px 0px 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
}

.onTableContracts {
  grid-area: onTableContracts;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.onTableRow1 {
  grid-area: onTableRow1;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.onTableRow2 {
  grid-area: onTableRow2;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.onTableRow3 {
  grid-area: onTableRow3;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.upComingCards {
  grid-area: upComingCards;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px dotted grey;
}

.tempResources {
  grid-area: tempResources;
  margin-right: 10px;
  margin-left: 10px;
}

.tempResources > h6 {
  margin-top: 0px;
  padding: 5px;
}

.gameAreaRight {
  margin: 0px;
  padding: 0px;
  /*background-color: rgb(243, 243, 224); */
  grid-area: rightside;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "scoring"
    "chat";
}

.gameScoringHeader {
  /* background-color: #f7f7f7; */
  padding: 5px;
  text-align: center;
  font-weight: 600;
  grid-area: scoreheader;
}

.gameScoring {
  margin: 0px;
  grid-area: scoring;
}

.gameChat {
  margin: 0px;
  grid-area: chat;
}

/* Cards styling */
.contract_card {
  background: #ffffff;
  border: 1px solid gray;
  width: 140px;
  height: 170px;
  padding-right: 0px;
  margin-left: 5px;
  display: inline-block;
  background-image: url(../assets/img/ContractBg.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 100%;
  border-radius: 5px;
}

.resource_card {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  border: 1px solid gray;
  width: 140px;
  height: 140px;
  margin-left: 10px;
  padding-right: 0px;
  padding-top: 0px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  border-radius: 5px;
}

/* background images */
.redResource {
  background-image: url(../assets/img/ResourceCardRed.png);
}

.greenResource {
  background-image: url(../assets/img/ResourceCardGreen.png);
}

.purpleResource {
  background-image: url(../assets/img/ResourceCardPurple.png);
}

.yellowResource {
  background-image: url(../assets/img/ResourceCardYellow.png);
}

.blackResource {
  background-image: url(../assets/img/ResourceCardBlack.png);
}

/* Position inside Resource Cards */
.card_details {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.greyOut {
  background-color: rgba(50, 50, 50, 0.6);
  z-index: 99;
}

.productsValue {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 23px;
  font-size: 26px;
}
.redCost {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 12px;
}

.greenCost {
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 12px;
}

.yellowCost {
  display: inline-block;
  position: absolute;
  top: 54px;
  right: 12px;
}

.purpleCost {
  display: inline-block;
  position: absolute;
  top: 81px;
  right: 12px;
}

.blackCost {
  display: inline-block;
  position: absolute;
  top: 107px;
  right: 12px;
}

/* Positioning inside contract card */
.contract_details {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contractValue {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 53px;
  font-size: 30px;
  color: #ffffff;
}

.contractCash {
  display: inline-block;
  position: absolute;
  top: 42px;
  right: 40px;
  font-size: 14px;
}

.contractDebtors {
  display: inline-block;
  position: absolute;
  top: 56px;
  right: 40px;
  font-size: 14px;
}

.redValue {
  display: inline-block;
  position: absolute;
  top: 77px;
  right: 34px;
}

.greenValue {
  display: inline-block;
  position: absolute;
  top: 102px;
  right: 52px;
}

.yellowValue {
  display: inline-block;
  position: absolute;
  top: 126px;
  right: 52px;
}

.purpleValue {
  display: inline-block;
  position: absolute;
  top: 102px;
  right: 13px;
}

.blackValue {
  display: inline-block;
  position: absolute;
  top: 126px;
  right: 13px;
}

.productValue {
  display: inline-block;
  position: absolute;
  top: 70px;
  right: 102px;
  font-size: 24px;
}

/* tokens details */
.tokens_details {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.redTokens {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 90px;
  background-image: url(../assets/img/RedCounter.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: cover;
  cursor: pointer;
}

.greenTokens {
  position: absolute;
  display: inline-block;
  top: 82px;
  left: 0px;
  width: 90px;
  height: 90px;
  background-image: url(../assets/img/GreenCounter.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: cover;
  cursor: pointer;
}

.purpleTokens {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 90px;
  background-image: url(../assets/img/PurpleCounter.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: cover;
  cursor: pointer;
}

.blackTokens {
  position: absolute;
  display: inline-block;
  top: 82px;
  right: 0px;
  width: 90px;
  height: 90px;
  background-image: url(../assets/img/BlackCounter.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: cover;
  cursor: pointer;
}

.yellowTokens {
  position: absolute;
  display: inline-block;
  top: 81px;
  right: 104px;
  width: 90px;
  height: 90px;
  background-image: url(../assets/img/YellowCounter.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: cover;
  cursor: pointer;
}

.tokensLabel {
  position: absolute;
  display: inline-block;
  top: 31px;
  right: 104px;
  width: 90px;
  height: 44px;
}

/* Contracts Modal positioning and styling */

.contract_details_modal {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  height: 100%;
  cursor: default;
}

.contract_card .Value {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 53px;
  font-size: 30px;
  color: #ffffff;
}

.contract_card .Cash {
  display: inline-block;
  position: absolute;
  top: 42px;
  right: 40px;
  font-size: 14px;
}

.contract_card .Debtors {
  display: inline-block;
  position: absolute;
  top: 56px;
  right: 40px;
  font-size: 14px;
}

.contract_card .CostRed {
  display: inline-block;
  position: absolute;
  top: 77px;
  right: 34px;
}

.contract_card .CostGreen {
  display: inline-block;
  position: absolute;
  top: 102px;
  right: 52px;
}

.contract_card .CostYellow {
  display: inline-block;
  position: absolute;
  top: 126px;
  right: 52px;
}

.contract_card .CostPurple {
  display: inline-block;
  position: absolute;
  top: 102px;
  right: 13px;
}

.contract_card .CostBlack {
  display: inline-block;
  position: absolute;
  top: 126px;
  right: 13px;
}

.contract_card .Production {
  display: inline-block;
  position: absolute;
  top: 70px;
  right: 102px;
  font-size: 24px;
}

.contract_card .Index {
  display: none;
}

.contract_card .Identifier {
  display: none;
}

.contract_card .Ref {
  display: none;
}

.contract_card .Colour {
  display: none;
}

/* Resource cards modal styling */
.card_details_modal {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  height: 100%;
  cursor: default;
}

.resource_card .Production {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 23px;
  font-size: 26px;
}
.resource_card .CostRed {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 12px;
}

.resource_card .CostGreen {
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 12px;
}

.resource_card .CostYellow {
  display: inline-block;
  position: absolute;
  top: 54px;
  right: 12px;
}

.resource_card .CostPurple {
  display: inline-block;
  position: absolute;
  top: 81px;
  right: 12px;
}

.resource_card .CostBlack {
  display: inline-block;
  position: absolute;
  top: 107px;
  right: 12px;
}

.resource_card .Index {
  display: none;
}

.resource_card .Identifier {
  display: none;
}

.resource_card .Ref {
  display: none;
}

.resource_card .Colour {
  display: none;
}

/* temp resource modal styling */
.tempResourceActionBtn {
  margin: 5px;
}

/* Icons for cards and tokens */
.tempResourceIcon {
  height: 44px;
  width: 44px;
  margin-top: 5px;
}

.playerIconsSizing {
  height: 24px;
  width: 24px;
  margin: 5px;
}

/* Player scoring area styiling */
.PlayerScoreArea {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 5px 10px 0px 5px;
  padding-bottom: 0px;
  border-radius: 5px;
  border: 1px dotted #9e9e9e;
  height: 163px;
}

.PlayerScoreArea p {
  margin: 0;
}

.scorePlayerHeader {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
}
.scorePlayerHeader i {
  margin-top: 2px;
}
.scorePlayerHeader .playerName {
  font-size: 21px;
  line-height: 24px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.scorePlayerTempResources {
  background-color: #fafafa;
  padding-left: 5px;
  padding-right: 5px;
}

.scorePlayerTempResources p {
  display: inline-flex;
  vertical-align: top;
  font-weight: bold;
  padding-top: 5px;
  font-size: 1.2rem;
}

.scorePlayerPermResources {
  background-color: #fafafa;
  padding-left: 5px;
  padding-right: 5px;
}

.scorePlayerPermResources p {
  display: inline-flex;
  vertical-align: top;
  font-weight: bold;
  padding-top: 5px;
  font-size: 1.2rem;
}

.scoreFinancials {
  background-color: #eceff1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.scoreFinancialsNumbers {
  font-weight: bold;
  padding-top: 5px;
  font-size: 1.2rem;
}

/* Media queries */
/* --- Mobile devices --- */
@media only screen and (max-width: 420px) {
  .pageHeadingSmall > h6 {
    font-size: 1rem;
    margin-left: 2px;
    line-height: normal;
  }

  /* --- Game area layout -- */
  .gameArea {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto auto;
    grid-template-areas:
      "notifications"
      "mainarea"
      "rightside";
    align-content: start;
  }

  .gameAreaLeft {
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 0px;
    grid-area: mainarea;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
      "tempLastActionsArea"
      "onTableContracts"
      "tempResources"
      "onTableRow1"
      "onTableRow2"
      "onTableRow3"
      "upComingCards";
    align-content: start;
    justify-content: start;
  }

  /* --- Contract cards -- */

  .contract_card {
    width: 97px;
    height: 120px;
  }

  .contract_details {
    font-weight: 600;
    font-size: 13px;
  }

  .contractValue {
    top: -5px;
    right: 36px;
    font-size: 22px;
  }

  .contractCash {
    top: 30px;
    right: 25px;
    font-size: 10px;
  }

  .contractDebtors {
    top: 40px;
    right: 25px;
    font-size: 10px;
  }

  .redValue {
    top: 53px;
    right: 22px;
  }

  .greenValue {
    top: 70px;
    right: 34px;
  }

  .yellowValue {
    top: 87px;
    right: 34px;
  }

  .purpleValue {
    top: 70px;
    right: 8px;
  }

  .blackValue {
    top: 87px;
    right: 8px;
  }

  .productValue {
    top: 50px;
    right: 69px;
    font-size: 16px;
  }

  /* --- Temp Resources market area --- */
  .boldTempResources {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .tempResourceIcon {
    height: 35px;
    width: 35px;
    margin-top: 5px;
  }

  /* -- Perm Resources Market Area -- */
  .resource_card {
    width: 97px;
    height: 97px;
    margin-left: 5px;
    border-radius: 5px;
  }
  .card_details {
    font-weight: 700;
    font-size: 16px;
  }

  .productsValue {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 15px;
    font-size: 19px;
  }
  .redCost {
    top: 0px;
    right: 8px;
  }

  .greenCost {
    top: 18px;
    right: 8px;
  }

  .yellowCost {
    top: 36px;
    right: 8px;
  }

  .purpleCost {
    top: 54px;
    right: 8px;
  }

  .blackCost {
    top: 71px;
    right: 8px;
  }

  /* -- Modals styling -- */
  .Mymodal {
    top: 10%;
    left: 0%;
  }

  /* -- Modals: Contract -- */
  .modal-content .contract_card {
    width: 140px;
    height: 170px;
  }

  /* -- Modals: Resources -- */
  .modal-content .contract_card {
    width: 140px;
    height: 170px;
  }

  .modal-content .resource_card {
    width: 140px;
    height: 140px;
  }

  .lastAction {
    margin-top: 0px;
    margin-bottom: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

/* --- DeskopMobile devices --- */
@media only screen and (max-width: 1200px) {
  .gameArea {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1.1fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
      "notifications notifications notifications rightside"
      "mainarea mainarea mainarea rightside";
  }
  .gameAreaLeft {
    grid-template-columns: 1fr 1.5fr 0.5fr 1.3fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "onTableContracts onTableContracts onTableContracts onTableContracts"
      "onTableRow1 onTableRow1 onTableRow1 tempResources"
      "onTableRow2 onTableRow2 onTableRow2 tempLastActionsArea"
      "onTableRow3 onTableRow3 onTableRow3 onTableRow3"
      "upComingCards upComingCards upComingCards upComingCards";
  }

  .lastAction {
    margin-top: 0px;
    margin-bottom: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .Mymodal {
    top: 10%;
    left: 3%;
  }
}
